h2{
  color:FF6666;
  font-size:30px;
}
body{
  width:960px;
  margin-left:auto;
  margin-right:auto;
  border-width:5px;
  border-style:solid;
  border-color:pink;
  border-radius:5px;
}
#p.a{
  font-size:36px;
  color:pink;
}
